body {
  background: #D11111;
}

.snowflake {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 140px 0 0 220px;
  z-index: 200;
}

.snowflake i {
  position: absolute;
  background: #FFF;
  height: 50px;
  width: 50px;
}
