body {
  background: #D11111;
}

.snowflake {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 140px 0 0 220px;
  z-index: 200;
  -webkit-animation: snow 10s linear infinite;
          animation: snow 10s linear infinite;
}

.foreground {
  opacity: 1;
  z-index: 300;
}

.middleground {
  opacity: 0.5;
  z-index: 200;
}

.background {
  opacity: 0.3;
  z-index: 100;
}

.snowflake i {
  position: absolute;
  background: #FFF;
  height: 50px;
  width: 50px;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(5%, 600%, 0);
            transform: translate3d(5%, 600%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(5%, 600%, 0);
            transform: translate3d(5%, 600%, 0);
  }
}
