body {
  background: #D11111;
}

.snowflake {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 140px 0 0 220px;
  z-index: 200;
  -webkit-animation: snow 10s linear infinite;
          animation: snow 10s linear infinite;
}

.snowflake i {
  background: #FFF;
  position: absolute;
  width: 10px;
}

.foreground {
  opacity: 1;
  z-index: 300;
}

.middleground {
  opacity: 0.5;
  z-index: 200;
}

.background {
  opacity: 0.3;
  z-index: 100;
}

.snowflake i:nth-child(1) {
  height: 10px;
  width: 10px;
}

.snowflake i:nth-child(2) {
  top: 10px;
  left: -10px;
  height: 10px;
}

.snowflake i:nth-child(3) {
  left: 10px;
  top: 10px;
  height: 10px;
}

.snowflake i:nth-child(4) {
  top: 20px;
  height: 10px;
}
/*End of centre of snowflake*/

.snowflake i:nth-child(5) {
  left: 10px;
  height: 25px;
  top: -25px;
}

.snowflake i:nth-child(6) {
  left: 20px;
  height: 25px;
  top: -35px;
}

.snowflake i:nth-child(7) {
  left: 30px;
  height: 25px;
  top: -45px;
}

.snowflake i:nth-child(8) {
  left: 20px;
  height: 10px;
  width: 25px;
  top: 0px;
}

.snowflake i:nth-child(9) {
  left: 30px;
  height: 10px;
  width: 25px;
  top: -10px;
}

.snowflake i:nth-child(10) {
  left: 40px;
  height: 10px;
  width: 25px;
  top: -20px;
}

/*End of top right snowflake*/

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(5%, 600%, 0);
            transform: translate3d(5%, 600%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(5%, 600%, 0);
            transform: translate3d(5%, 600%, 0);
  }
}
